@import "tailwindcss";
@import "./styles/tokens/colors.css";
@import "./styles/tokens/typography.css";
@import "./styles/tokens/semantic-aliases.css";
@import "./styles/tokens/gradients.css";
@import "./styles/tokens/shadows.css";

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-ui);
  }
}